In [13]:
#Extracting data from wikipedia using Beautiful soup
import requests
from bs4 import BeautifulSoup
import pandas as pd
wiki_url="https://en.wikipedia.org/wiki/List_of_English_football_transfers_summer_2017"
req=requests.get(wiki_url)
soup=BeautifulSoup(req.content,'lxml')
table_classes={"class":["sortable","plainrowheaders"]}
wikitables = soup.find("table",class_="wikitable sortable")


#Extracting the information to a list
col1=[]
col2=[]
col3=[]
col4=[]
col5=[]
for row in wikitables.findAll("tr"):
    cells=row.findAll("td")
    if(len(cells)==5):
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        
#Converting the list to a dataframe 
#import pandas to convert list to data frame
df=pd.DataFrame(A,columns=['Date'])
df['Name']=B
df['Moving from']=C
df['Moving to']=D
df['Fee']=E
df.to_csv("C:/opt/spark/spark-2.2.1-bin-hadoop2.7/transfer.csv")

print(df)

                        Date                        Name  \
0    000000002017-02-02-0000         Coates, Sebastian !
1    000000002017-02-02-0000           Jansson, Pontus !
2    000000002017-02-09-0000             Tiote, Cheick !
3    000000002017-02-24-0000           Bentaleb, Nabil !
4    000000002017-03-06-0000         Bendtner, Nicklas !
5    000000002017-03-10-0000                Bray, Alex !
6    000000002017-03-21-0000   Schweinsteiger, Bastian !
7    000000002017-03-22-0000           Kachunga, Elias !
8    000000002017-03-28-0000               Ajayi, Semi !
9    000000002017-03-31-0000            Cleverley, Tom !
10   000000002017-05-08-0000              Mason, Niall !
11   000000002017-05-11-0000            Gardner, Craig !
12   000000002017-05-12-0000           Archibald, Theo !
13   000000002017-05-12-0000              Ferry, James !
14   000000002017-05-18-0000            Mallan, Stevie !
15   000000002017-05-19-0000             Dempsey, Kyle !
16   000000002017-05-19-0000             Gross, Pascal !
17   000000002017-05-19-0000          Mahmutovic, Enes !
18   000000002017-05-22-0000            Cuadrado, Juan !
19   000000002017-05-23-0000         Dalsgaard, Henrik !
20   000000002017-05-23-0000                Kerr, Josh !
21   000000002017-05-24-0000           Atsu, Christian !
22   000000002017-05-26-0000           Silva, Bernardo !
23   000000002017-05-30-0000            Begovic, Asmir !
24   000000002017-05-31-0000                Unal, Enes !
25   000000002017-06-02-0000               Sacko, Hadi !
26   000000002017-06-03-0000             Maguire, Sean !
27   000000002017-06-06-0000          Burgess, Cameron !
28   000000002017-06-07-0000            Davies, Curtis !
29   000000002017-06-08-0000                   Ederson !
..                       ...                         ...
289  000000002017-08-31-0000             Aurier, Serge !
290  000000002017-08-31-0000          Bakinson, Tyreeq !
291  000000002017-08-31-0000            Bony, Wilfried !
292  000000002017-08-31-0000            Cibicki, Paweł !
293  000000002017-08-31-0000             Colin, Maxime !
294  000000002017-08-31-0000        Donaldson, Clayton !
295  000000002017-08-31-0000              Holden, Rory !
296  000000002017-08-31-0000           Johnson, Marvin !
297  000000002017-08-31-0000                      Jota !
298  000000002017-08-31-0000       Kieftenbeld, Maikel !
299  000000002017-08-31-0000        Llorente, Fernando !
300  000000002017-08-31-0000                 Hart, Sam !
301  000000002017-08-31-0000            Malen, Donyell !
302  000000002017-08-31-0000             Mars, Malakai !
303  000000002017-08-31-0000         McManaman, Callum !
304  000000002017-08-31-0000           Miller, William !
305  000000002017-08-31-0000              Noone, Craig !
306  000000002017-08-31-0000           Onariase, Manny !
307  000000002017-08-31-0000  Oxlade-Chamberlain, Alex !
308  000000002017-08-31-0000             Sancho, Jadon !
309  000000002017-08-31-0000       Schelotto, Ezequiel !
310  000000002017-08-31-0000            Vlašić, Nikola !
311  000000002017-08-31-0000              Wells, Nahki !
312  000000002017-08-31-0000            Wheeler, David !
313  000000002017-08-31-0000              Wilson, Marc !
314  000000002017-08-31-0000        Zappacosta, Davide !
315  000000002017-08-31-0000         Zeegelaar, Marvin !
316  000000002017-09-01-0000         Drinkwater, Danny !
317  000000002017-09-01-0000      Osayi-Samuel, Bright !
318  000000002017-09-01-0000            Sakho, Mamadou !

               Moving from                         Moving to  \
0               Sunderland                     Sporting CP !
1                 Torino !                      Leeds United
2         Newcastle United  Beijing Enterprises Group F.C. !
3        Tottenham Hotspur                      Schalke 04 !
4        Nottingham Forest                       Rosenborg !
5           Swansea City !                  Rotherham United
6        Manchester United                    Chicago Fire !
7          Ingolstadt 04 !                 Huddersfield Town
8           Cardiff City !                  Rotherham United
9                  Everton                           Watford
10             Aston Villa                  Doncaster Rovers
11    West Bromwich Albion                   Birmingham City
12                Celtic !                         Brentford
13               Brentford                         Stevenage
14             St Mirren !                          Barnsley
15       Huddersfield Town                    Fleetwood Town
16         Ingolstadt 04 !            Brighton & Hove Albion
17             Fola Esch !                     Middlesbrough
18                 Chelsea                        Juventus !
19         Zulte Waregem !                         Brentford
20                Celtic !            Brighton & Hove Albion
21                 Chelsea                  Newcastle United
22                Monaco !                   Manchester City
23                 Chelsea                       Bournemouth
24         Manchester City                      Villarreal !
25           Sporting CP !                      Leeds United
26             Cork City !                 Preston North End
27                  Fulham                 Scunthorpe United
28               Hull City                      Derby County
29               Benfica !                   Manchester City
..                     ...                               ...
289  Paris Saint-Germain !                 Tottenham Hotspur
290             Luton Town                      Bristol City
291        Manchester City                    Swansea City !
292                Malmö !                      Leeds United
293              Brentford                   Birmingham City
294        Birmingham City                  Sheffield United
295           Derry City !                      Bristol City
296          Oxford United                     Middlesbrough
297              Brentford                   Birmingham City
298        Birmingham City                      Derby County
299         Swansea City !                 Tottenham Hotspur
300              Liverpool                  Blackburn Rovers
301                Arsenal                             PSV !
302                Chelsea                            Barnet
303   West Bromwich Albion                        Sunderland
304      Tottenham Hotspur                     Burton Albion
305         Cardiff City !                  Bolton Wanderers
306              Brentford                  Rotherham United
307                Arsenal                         Liverpool
308        Manchester City               Borussia Dortmund !
309          Sporting CP !            Brighton & Hove Albion
310         Hajduk Split !                           Everton
311      Huddersfield Town                           Burnley
312            Exeter City                Queens Park Ranger
313            Bournemouth                        Sunderland
314               Torino !                           Chelsea
315          Sporting CP !                           Watford
316         Leicester City                           Chelsea
317              Blackpool               Queens Park Rangers
318              Liverpool                    Crystal Palace

                      Fee
0             Undisclosed
1             Undisclosed
2             Undisclosed
3             Undisclosed
4             Undisclosed
5             Undisclosed
6                    Free
7    7000110000000000000♠
8             Undisclosed
9             Undisclosed
10            Undisclosed
11            Undisclosed
12            Undisclosed
13            Undisclosed
14            Undisclosed
15            Undisclosed
16            Undisclosed
17            Undisclosed
18   7001170000000000000♠
19            Undisclosed
20            Undisclosed
21            Undisclosed
22   7001430000000000000♠
23            Undisclosed
24   7001119000000000000♠
25            Undisclosed
26            Undisclosed
27            Undisclosed
28            Undisclosed
29   7001350000000000000♠
..                    ...
289  7001230000000000000♠
290           Undisclosed
291           Undisclosed
292           Undisclosed
293           Undisclosed
294           Undisclosed
295           Undisclosed
296           Undisclosed
297           Undisclosed
298           Undisclosed
299           Undisclosed
300           Undisclosed
301           Undisclosed
302           Undisclosed
303           Undisclosed
304           Undisclosed
305           Undisclosed
306           Undisclosed
307  7001350000000000000♠
308  7001100000000000000♠
309           Undisclosed
310  7001100000000000000♠
311  7000500000000000000♠
312           Undisclosed
313           Undisclosed
314           Undisclosed
315           Undisclosed
316  7001350000000000000♠
317           Undisclosed
318  7001260000000000000♠

[319 rows x 5 columns]

In [69]:
#Extracting data from wikipedia using MS Excel
from pyspark.sql import SparkSession
#The entry point to all functionality in Spark is the SparkSession class.Created using Saprksession.builder
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
#sc = SparkContext.getOrCreate()
#Read the data and store it in a dataframe(oandas dataframe)
transfer=pd.read_csv("C:/opt/transferexcel.csv",sep=",")
#Counting the number of incoming and outgoing players for three clubs
incoming=transfer['Moving to'].str.contains('Manchester United|Barcelona|Manchester City').value_counts()[True]
outgoing=transfer['Moving from'].str.contains('Manchester United|Barcelona|Manchester City').value_counts()[True]
print(incoming)
print(outgoing)
transfer['Date']=pd.to_datetime(transfer['Date'])#Transforming the 'date' column to date format(%Y%m%d)
#print(transfer)
## Convert Spark DataFrame to Pandas
#pandas_df = young.toPandas()
# Create a Spark DataFrame from Pandas
#spark_df = context.createDataFrame(pandas_df)Creating a Spark Dataframe from pandas dataframe 
transfer_spark=spark.createDataFrame(transfer)
transfer_spark.createOrReplaceTempView("transfer")#Create a temporary view of the dataframe
#Selecting transfers within a date range in SQL
sql_transfer=spark.sql("SELECT * FROM transfer WHERE Date>='2017-02-02' AND Date <'2017-06-03'").show()

11
18
+-------------------+--------------------+--------------------+--------------------+-----------+
|               Date|                Name|         Moving from|           Moving to|Fee[note 1]|
+-------------------+--------------------+--------------------+--------------------+-----------+
|2017-02-02 00:00:00|    Sebastián Coates|          Sunderland|         Sporting CP|Undisclosed|
|2017-02-02 00:00:00|      Pontus Jansson|              Torino|        Leeds United|Undisclosed|
|2017-02-09 00:00:00|        Cheick Tioté|    Newcastle United| Beijing Enterprises|Undisclosed|
|2017-02-24 00:00:00|      Nabil Bentaleb|   Tottenham Hotspur|          Schalke 04|Undisclosed|
|2017-03-06 00:00:00|    Nicklas Bendtner|   Nottingham Forest|           Rosenborg|Undisclosed|
|2017-03-10 00:00:00|           Alex Bray|        Swansea City|    Rotherham United|Undisclosed|
|2017-03-21 00:00:00|Bastian Schweinst...|   Manchester United|        Chicago Fire|       Free|
|2017-03-22 00:00:00|      Elias Kachunga|       Ingolstadt 04|   Huddersfield Town|      £1.1m|
|2017-03-28 00:00:00|          Semi Ajayi|        Cardiff City|    Rotherham United|Undisclosed|
|2017-03-31 00:00:00|       Tom Cleverley|             Everton|             Watford|Undisclosed|
|2017-05-08 00:00:00|         Niall Mason|         Aston Villa|    Doncaster Rovers|Undisclosed|
|2017-05-11 00:00:00|       Craig Gardner|West Bromwich Albion|     Birmingham City|Undisclosed|
|2017-05-12 00:00:00|      Theo Archibald|              Celtic|           Brentford|Undisclosed|
|2017-05-12 00:00:00|         James Ferry|           Brentford|           Stevenage|Undisclosed|
|2017-05-18 00:00:00|       Stevie Mallan|           St Mirren|            Barnsley|Undisclosed|
|2017-05-19 00:00:00|        Kyle Dempsey|   Huddersfield Town|      Fleetwood Town|Undisclosed|
|2017-05-19 00:00:00|         Pascal Groß|       Ingolstadt 04|Brighton & Hove A...|Undisclosed|
|2017-05-19 00:00:00|     Enes Mahmutovic|           Fola Esch|       Middlesbrough|Undisclosed|
|2017-05-22 00:00:00|       Juan Cuadrado|             Chelsea|            Juventus|       £17m|
|2017-05-23 00:00:00|    Henrik Dalsgaard|       Zulte Waregem|           Brentford|Undisclosed|
+-------------------+--------------------+--------------------+--------------------+-----------+
only showing top 20 rows